
body {
    margin: 50;
    padding: 50;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: minmax(100px, 150px(track-list, 1fr));
    gap: 50px;
    padding: 50px;
}

.item1 {
    background-color: rgb(41, 172, 216);    
    color: white;
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    height: 230px;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .item2 {
    background-color: lightgreen;
    border-radius: 654px; 
    grid-row: 2;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 350px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .item3 {
    background-color: rgb(250, 15, 15);
    border-radius: 3456px;
    align-items: center;
    grid-row: 3;
    color: white;
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .item4 {
    background-color: rgb(255, 255, 0);
    align-items: center;
    justify-content: center;
    grid-row: 4;
    color: white;
    height: 167px;
    display: flex;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .item5 {
    background-color: rgb(255, 60, 0);
    align-items: center;
    justify-content: center;
    grid-row: 5;
    color: white;
    height: 198px;
    display: flex;
    font-size: 1.8rem;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  